<div class="card-container" *ngIf="!errorMessage">

  <div class="paginate-container">
    <!-- Pagination Control -->
    <pagination-controls
    class="control"
    id="listing_pagination"
    maxSize="5"
    directionLinks="true"
    (pageChange)="page = $event"
    responsive="true"
    autoHide="true"
  ></pagination-controls>
  </div>

  <div class="grid">
    <div class="grid-inner">
      <div
        class="for-grid"
        *ngFor="
          let image of data
            | paginate
              : {
                  id: 'listing_pagination',
                  itemsPerPage: 20,
                  currentPage: page,
                  totalItems: totalRecords
                }
        "
      >
        <div class="item">
          <div class="item-inner">
            <!-- if the image, id or author name is missing, the APP uses the default values-->
            <div><img class="image" src="{{ image.download_url? image.download_url: 'https://picsum.photos/' }}" /></div>
            <div class="card-id">{{ (image.id) ? image.id:"ID failed to generate" }}</div>
            <div class="card-author">{{ image.author ? image.author: "Author Name is missing" }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="error-message" *ngIf="errorMessage">
  {{errorMessage}}
</div>
